.video-viewer {
  &.light {
    color: #283035;
  }
  .inner {
    width: 100%;

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }

    .grid {
      margin-bottom: 15px;
      position: relative;

      @media screen and (max-width: 1000px) {
        max-width: 100%;
      }
    }

    .left {
      width: 70%;

      .video-wrapper {
        padding: 10px;
      }

      .mobile {
        padding: 0 !important;
      }

      .video__unavaliable {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        padding: 27%;
        color: white;
        margin: 10px;
        background: black;
        overflow: hidden;
        font-family: Arial;

        p {
          font-size: 25px;
        }
      }

      .video_actions {
        padding: 10px;

        .video__title {
          font-weight: 500;
          font-size: 18px;
        }

        &.dark {
          .video__analytics__info {
            border-bottom: 1px solid #1c1c1d !important;
          }
        }

        &.light {
          color: #283035;
        }

        .video__analytics__info {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          font-weight: bold;
          padding: 10px 0;
          flex-direction: row;
          border-bottom: 1px solid $border-color;
          color: #4c4c4c;

          @media only screen and (max-width: 700px) {
            font-size: 13px;
          }

          .left {
            padding: 5px 0;
            width: 40%;

            @media screen and (max-width: 700px) {
              width: 100%;
            }

            .video__views {
              font-weight: 500 !important;
            }
          }

          .right {
            text-align: end;
            padding: 5px 0;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }

    .right {
      flex: 1;
      padding: 10px;

      .video__comment {
        display: block;
        border: 1px solid $border-color;
        height: 100%;

        &.dark {
          border: none;
          background: #121214;
          border: 1px solid #1c1c1d;

          .video_comment_input {
            background: #121214 !important;
            border: 1px solid #1c1c1d !important;
            color: white !important;
          }

          .video__comment__box {
            border-top: 1px solid #1c1c1d !important;
          }

          .video__profile__action {
            border-bottom: 1px solid #1c1c1d !important;
          }
        }

        .video__comment__inner {
          height: 100%;
          display: block;

          .video__profile__action {
            display: flex;
            padding: 5px;
            border-bottom: 1px solid $border-color;

            .left {
              .channel__avater {
                display: flex;
                flex-wrap: wrap;

                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 1px solid $border-color;

                  &:hover {
                    opacity: 0.8;
                  }
                }

                .channel__name {
                  cursor: pointer;
                  margin: auto 10px;
                  font-weight: 700;
                }
              }
            }

            .right {
              text-align: end;
              padding: 0;
              margin: auto;

              .follow {
                border-radius: 3px;
                padding: 5px 20px;
                font-size: medium;
                cursor: pointer;
                font-weight: 600;
                border: none;
                color: #fff;
              }
            }
          }

          .video__comment__message {
            min-height: 300px;
          }

          .video__comment__box {
            bottom: 10px;
            left: 10px;
            right: 10px;
            display: flex;
            position: absolute;
            border-top: 1px solid $border-color;

            .left {
              width: 80%;

              .video_comment_input {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-size: 15px;
                resize: none;
                padding: 5px;
                border: 0;
                border-left: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                outline: none;
                background-color: #fafafa;
              }
            }

            .right {
              text-align: end;

              .post {
                margin: auto;
                cursor: pointer;
                outline: none;
                padding: 10px;
                font-weight: 600;
                color: $color-theme;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
