.content-m-thumb {
  display: inline-block;
  margin-bottom: 20px;

  .music__thumbnail {
    width: 190px;
    height: 190px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);

    .playing {
      margin: auto;
      top: 60%;
      left: 40%;
      margin-left: -25px;
      position: absolute;
      color: white;
    }

    .now.playing .bar {
      display: inline-block;
      position: relative;
      margin-right: 1px;
      width: 10px;
      height: 1px;
      overflow: hidden;
      background: linear-gradient(to bottom, #ff9500, #ff2d55);
      color: transparent;
      animation-name: pulse;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    .paused.playing .bar {
      animation-iteration-count: 1;
    }
    .n1 {
      animation-delay: 0.5s;
    }
    .n2 {
      animation-delay: 0.2s;
    }
    .n3 {
      animation-delay: 1.2s;
    }
    .n4 {
      animation-delay: 0.9s;
    }
    .n5 {
      animation-delay: 2.3s;
    }
    .n6 {
      animation-delay: 1.3s;
    }
    .n7 {
      animation-delay: 3.1s;
    }
    .n8 {
      animation-delay: 1.9s;
    }
    @keyframes pulse {
      0% {
        height: 1px;
        margin-top: 0;
      }
      10% {
        height: 40px;
        margin-top: -40px;
      }
      50% {
        height: 20px;
        margin-top: -20px;
      }
      60% {
        height: 30px;
        margin-top: -30px;
      }
      80% {
        height: 60px;
        margin-top: -60px;
      }
      100% {
        height: 1px;
        margin-top: 0;
      }
    }

    .audio__info {
      text-align: left;

      .views {
        font-weight: normal !important;
        font-size: 13px;
      }

      p {
        bottom: -30px;
        color: white;
        width: 100%;
      }

      &.light .title {
        color: black !important;
      }

      &.dark .views {
        color: #f1ebeb !important;
      }

      &.light .views {
        color: #383838 !important;
      }
    }

    p {
      bottom: -30px;
      color: white;
      width: 100%;
    }

    i {
      margin: auto;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      position: absolute;
      color: white;
    }
  }

  .circle {
    border-radius: 100% !important;
  }

  .lazy-background::before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 0;
    left: 0;
  }

  .file-icon {
    display: none;
  }

  .music__thumbnail:hover .file-icon {
    display: block;
  }

  //   @media only screen and (max-width: 700px) {
  //     .music__thumbnail {
  //       width: 150px;
  //       height: 150px;
  //       margin: 0px 5px 40px 10px;

  //       i {
  //         margin: auto;
  //         position: absolute;
  //         font-size: 40px;
  //         color: white;
  //         top: 50px;
  //         left: 60px;
  //       }
  //     }
  //   }
}
