.fo-video-player {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  color: white !important;

  .video__error {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 600px) {
    .fa-clone,
    .fa-step-backward,
    .fa-step-forward {
      display: none;
    }
  }

  &.no-cursor {
    cursor: none;
  }

  .fo-video-loader {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    position: absolute;
    margin: auto;
    height: 80px;
    width: 80px;

    svg#catchup-spinner {
      width: 3.75em;
      transform-origin: center;
      animation: rotate 2s linear infinite;
      max-width: 80px;
      display: block;
    }
    svg#catchup-spinner circle {
      fill: none;
      stroke: rgb(255, 255, 255);
      stroke-width: 3;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dashoffset: -125px;
      }
    }
  }

  .fo-video-player__media {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
    overflow: hidden;
  }

  .fo-video-player__seekbar-wrap {
    cursor: pointer;
    position: relative;
    padding: 7px 0;
    top: -10px;

    &.show {
      padding: 0;
    }

    &:hover {
      top: -12px;
      transition: top 0.15s;

      .fo-video-player__seekbar-current,
      .fo-video-player__seekbar-back,
      .fo-video-player__buffer-back {
        height: 6px;
        transition: height 0.15s;
      }
    }
  }

  .fo-video-player__seekbar-current,
  .fo-video-player__seekbar-back,
  .fo-video-player__buffer-back {
    height: 3px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
  }

  .fo-video-player__buffer-back {
    z-index: 1;
    background-color: rgb(255, 0, 0);
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgba(221, 221, 221, 0.8);
  }
  .fo-video-player__seekbar-current {
    z-index: 2;
    background-color: rgb(255, 0, 0);
    transform: scaleX(0);
    transform-origin: left;
  }

  .fo-video-player__seekbar-back {
    background-color: rgba(221, 221, 221, 0.4);
  }

  .fo-video-player__control-panel {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );

    &.show {
      padding: 3px 0;
      background: transparent;
      transition: bottom 0.5s ease-in-out;
    }
  }

  .fo-video-player__control-wrap {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    .rotate-45 {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    i {
      margin: 0 10px;
    }
  }

  .fo-video-player__time-current {
    margin: 0 0.5em;
  }

  .fo-video-player-menu {
    position: absolute;
    bottom: 60px;
    z-index: -5;
    transition: 0.2s ease-out;
    transition: 0.2s;

    &.settings {
      right: 10px;
    }
    &.volume {
      right: 150px;
    }

    &.active {
      z-index: 5;
    }

    .volumeslider {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* WebKit */
      width: 5px;
      height: 100px;
      cursor: pointer;
      background: rgba(104, 103, 103, 0.5);
    }

    .switch {
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
      height: 1em;
      width: 2em;
      background: rgb(224, 222, 222);
      border-radius: 1em;

      input {
        position: absolute;
        opacity: 0;
      }

      div {
        height: 1em;
        width: 1em;
        border-radius: 1em;
        background: #fff;
        box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
      }

      input:checked + div {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        background-color: red;
      }
    }

    nav {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      background: rgba(32, 32, 32, 1);
      transition: 0.2s ease-out;
      box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
      transform: translateY(50px) scale(0.5);
      transition: 0.2s;
      & a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 12px;
        padding: 10px;
        text-align: left;

        .fo-video-player__right {
          float: right;
        }

        &:hover {
          background: darken(#414040, 6%);
          transition: 0.2s ease;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 220px;
      }
    }

    .menu-active {
      opacity: 1;
      z-index: 6;
      visibility: visible;
      transform: translateY(0);
      transform: translateY(0) scale(1);
      transition: 0.2s;
    }
  }
}
