.fo-video-player {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  color: white !important;

  .fo-video-top {
    .fo-video__info__fullscreen__title {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 25px;
    }

    .fo-video-watch-later {
      position: absolute;
      right: 10px;
      top: 10px;
      display: none;
    }
  }

  .video__error {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 600px) {
    .fa-clone,
    .fa-step-backward,
    .fa-step-forward {
      display: none;
    }
  }

  &.no-cursor {
    cursor: none;
  }

  .fo-video-player-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all ease 500ms;
  }

  .fo-video-player-load-play {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    position: absolute;
    margin: auto;
    height: 80px;
    width: 80px;

    .video-play-button {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      box-sizing: content-box;
      display: block;
      width: 32px;
      height: 44px;
      border-radius: 50%;
      padding: 18px 20px 18px 28px;
      cursor: pointer;
    }

    .video-play-button:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 80px;
      height: 80px;
      background: $color-theme;
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
    }

    .video-play-button:after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: block;
      width: 80px;
      height: 80px;
      background: $color-theme;
      border-radius: 50%;
      transition: all 200ms;
    }

    .video-play-button:hover:after {
      background-color: darken($color-theme, 10%);
    }

    .video-play-button img {
      position: relative;
      z-index: 3;
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .video-play-button span {
      display: block;
      position: relative;
      z-index: 3;
      width: 0;
      height: 0;
      border-left: 32px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
    }

    @keyframes pulse-border {
      0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
      }
    }

    // .video-overlay {
    //   position: fixed;
    //   z-index: -1;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background: rgba(0, 0, 0, 0.8);
    //   opacity: 0;
    //   transition: all ease 500ms;
    // }
  }

  .fo-video-loader {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    position: absolute;
    margin: auto;
    height: 80px;
    width: 80px;

    svg#catchup-spinner {
      transform-origin: center;
      animation: rotate 2s linear infinite;
      max-width: 80px;
      display: block;
    }
    svg#catchup-spinner circle {
      fill: none;
      stroke: rgb(255, 255, 255);
      stroke-width: 3;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dashoffset: -125px;
      }
    }
  }

  .fo-video-player__media {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #000;
    overflow: hidden;
  }

  .fo-video-player__seekbar-wrap {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    top: -10px;

    &.show {
      padding: 0;
    }

    &:hover {
      top: -12px;
      transition: top 0.2s;

      .fo-video-player__seekbar-current,
      .fo-video-player__seekbar-back,
      .fo-video-player__buffer-back {
        height: 6px;
        transition: height 0.2s;
      }
    }
  }

  .fo-video-player__seekbar-current,
  .fo-video-player__seekbar-back,
  .fo-video-player__buffer-back {
    height: 3px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
  }

  .fo-video-player__buffer-back {
    z-index: 1;
    background-color: $color-theme;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgba(221, 221, 221, 0.8);
  }
  .fo-video-player__seekbar-current {
    z-index: 2;
    background-color: $color-theme;
    transform: scaleX(0);
    transform-origin: left;
  }

  .fo-video-player__seekbar-back {
    background-color: rgba(221, 221, 221, 0.4);
  }

  .fo-video-player__control-panel {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );

    &.show {
      padding: 3px 0;
      background: transparent;
      transition: bottom 0.5s ease-in-out;
    }

    .fo-video-player__watch__on {
      display: inline-block;
      position: absolute;
      bottom: 45px;
      right: 15px;
      text-align: right;
      padding: 5px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .fo-video-player__control-wrap {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    .rotate-45 {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    i {
      margin: 0 10px;
    }
  }

  .fo-time-display {
    font-size: 109%;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 35px;
  }

  .fo-video-player-menu {
    position: absolute;
    bottom: 60px;
    z-index: -5;
    transition: 0.2s ease-out;
    transition: 0.2s;

    &.settings {
      right: 10px;
    }

    &.volume {
      right: 150px;
    }

    &.no__animation {
      transition: none !important;
    }

    &.vactive {
      z-index: 5;
    }

    .volumeslider {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* WebKit */
      width: 5px;
      height: 100px;
      cursor: pointer;
      background: rgba(104, 103, 103, 0.5);
    }

    .switch {
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
      height: 1em;
      width: 2em;
      background: rgb(224, 222, 222);
      border-radius: 1em;

      input {
        position: absolute;
        opacity: 0;
      }

      div {
        height: 1em;
        width: 1em;
        border-radius: 1em;
        background: #fff;
        box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
      }

      input:checked + div {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        background-color: $color-theme;
      }
    }

    nav {
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      background: rgba(32, 32, 32, 1);
      transition: 0.2s ease-out;
      box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
      transform: translateY(50px) scale(0.5);
      transition: 0.2s;
      & a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 12px;
        padding: 10px;
        text-align: left;

        .fo-video-player__right {
          float: right;
        }

        &:hover {
          background: darken(#414040, 6%);
          transition: 0.2s ease;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 220px;
      }

      &.no__animation {
        transition: none !important;
      }
    }

    .menu-active {
      opacity: 1;
      z-index: 6;
      visibility: visible;
      transform: translateY(0);
      transform: translateY(0) scale(1);
      transition: 0.2s;

      .time__preview {
        margin: 0;
        padding: 0;
        width: 190px;
        height: 110px;
        border: 2px solid black;
        text-align: center;

        .time_preview_div {
          display: inline-block;
          margin: auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          span {
            border-radius: 1px;
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            padding: 2px 5px;
            background-color: rgba(20, 19, 19, 0.7);
          }
        }
      }
    }
  }
}
