.video-viewer {
  .inner {
    width: 100%;

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }

    .grid {
      margin-bottom: 15px;
      position: relative;

      @media screen and (max-width: 1000px) {
        max-width: 100%;
      }
    }

    .left {
      width: 70%;

      .video-wrapper {
        padding: 10px;
      }

      .mobile {
        padding: 0 !important;
      }

      .video__unavaliable {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        padding: 27%;
        color: white;
        margin: 10px;
        background: black;
        overflow: hidden;
        font-family: Arial;

        p {
          font-size: 25px;
        }
      }

      .video_actions {
        padding: 10px;

        .video__title {
          font-weight: 500;
          font-size: 18px;
        }

        .video__analytics__info {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          font-weight: bold;
          padding: 10px 0;
          flex-direction: row;
          color: #9e9e9e;
          border-bottom: 1px solid $border-color;

          @media only screen and (max-width: 700px) {
            font-size: 13px;
          }

          .left {
            padding: 5px 0;
            width: 40%;

            @media screen and (max-width: 700px) {
              width: 100%;
            }

            .video__views {
              font-weight: 500 !important;
            }
          }

          .right {
            padding: 5px 0;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }

    .right {
      flex: 1;
      padding: 10px;

      .video__comment {
        display: block;
        border: 1px solid $border-color;
        height: 100%;

        .video__comment__inner {
          height: 100%;
          display: block;

          .video__profile__action {
            display: flex;
            padding: 5px;
            border-bottom: 1px solid $border-color;

            .left {
              .channel__avater {
                display: flex;
                flex-wrap: wrap;

                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 1px solid $border-color;

                  &:hover {
                    opacity: 0.8;
                  }
                }

                .channel__name {
                  cursor: pointer;
                  margin: auto 10px;
                  font-weight: 700;
                }
              }
            }

            .right {
              text-align: end;
              padding: 0;
              margin: auto;

              .follow {
                border-radius: 3px;
                padding: 5px 20px;
                font-size: medium;
                cursor: pointer;
                font-weight: 600;
                border: none;
                color: #fff;
              }
            }
          }

          .video__comment__message {
            min-height: 500px;
            max-height: 500px;
            overflow-y: scroll;
            z-index: -5;

            .settings {
              // position: absolute;
              // left: 0;
              // right: 0;
              // top: 0;
              // bottom: 0;
              // background-color: rgba(0, 0, 0, 0.233);
              // display: inline-block;
              // margin: auto;
            }

            ul {
              list-style-type: none;
              padding: 10px;

              .video__comment_render {
                display: flex;
                padding: 5px;

                &:hover {
                  background: #dbdbdb;
                }

                .left {
                  width: 85% !important;

                  .channel__avater {
                    display: flex;
                    flex-wrap: wrap;

                    img {
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;

                      &:hover {
                        opacity: 0.8;
                      }
                    }

                    .channel__name {
                      cursor: pointer;
                      font-size: 13px;
                      padding: 2px;
                      border-radius: 2px;
                      margin: auto 10px;
                      font-weight: 500;

                      &.special {
                        background-color: $color-active;
                        color: white;
                      }
                    }

                    .message {
                      margin: auto 5px;
                      font-size: 13px;
                      display: inline-block;
                      font-weight: normal;
                    }
                  }
                }

                .right {
                  text-align: end;
                  padding: 0;
                  margin: auto;
                }
              }
            }
          }

          .video__comment__box__settings {
            .left {
              width: 50%;
            }

            display: flex;
            padding: 2px;
            border-top: 1px solid $border-color;

            .right {
              padding: 5px;
              text-align: end;

              .chat__type {
                margin: auto 10px;
                font-weight: 500;
                font-size: 13px;
              }
            }
          }

          .video__comment__box {
            display: flex;
            border-top: 1px solid $border-color;

            .left {
              width: 80%;

              .video_comment_input {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-size: 15px;
                font-weight: 500;
                resize: none;
                padding: 5px;
                border: 0;
                outline: none;
                background: #fafafa;

                &::-webkit-input-placeholder {
                  /* Chrome/Opera/Safari */
                  color: lightgrey;
                  font-weight: 500;
                }
                &::-moz-placeholder {
                  /* Firefox 19+ */
                  color: lightgrey;
                  font-weight: 500;
                }
                &:-ms-input-placeholder {
                  /* IE 10+ */
                  color: lightgrey;
                  font-weight: 500;
                }
                &:-moz-placeholder {
                  /* Firefox 18- */
                  color: lightgrey;
                  font-weight: 500;
                }
              }
            }

            .right {
              text-align: end;

              .post {
                margin: auto;
                cursor: pointer;
                outline: none;
                padding: 10px;
                font-weight: 600;
                color: $color-theme;

                &:hover {
                  color: darken($color: $color-theme, $amount: 10)
                }
              }
            }
          }
        }
      }
    }
  }
}
