.music_player {
  display: flex;
  width: 100%;
  z-index: 50;
  padding: 0.9em 0px;
  min-width: 1000px;
  background: #252a2e;
  border-top: 1px solid #18191a;
  border-bottom: 1px solid #18191a;
  border-right: 1px solid #18191a;

  &.light {
    background-color: white !important;
    color: #18191a !important;
    border-top: 1px solid #dadada !important;
    border-bottom: 1px solid #dadada !important;
    border-right: 1px solid #dadada !important;
  }

  .inner {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
    overflow: hidden !important;

    &.light {
      background-color: white !important;
      color: #18191a !important;
    }

    .albumImage {
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0;
    }

    i {
      margin: 0 10px;
      cursor: pointer;
    }

    input {
      display: block;
      margin-right: 10px;
      float: left;
    }

    .slider_container {
      width: 70%;
      margin: 0px 20px;
      border-radius: 4px;
      position: relative;
      display: inline-flex;

      .audio-icon {
        font-size: 20px;
      }

      .time {
        margin: 0 20px;
        font-weight: bold;
      }

      .slider {
        appearance: none;
        width: 100%;
        margin: auto;
        height: 4px;
        cursor: pointer;
        z-index: 47;
        border-radius: 4px;
        background: rgb(104, 103, 103);

        .buffer {
          height: 4px;
          z-index: 45;
          top: 8px;
          position: absolute;
          border-radius: 4px;
          background: grey;
        }

        .audio-progress {
          height: 4px;
          border-radius: 4px;
          z-index: 45;
          background: $color-error;

          .circle {
            position: relative;
            right:-6px;
            top: -3px;
            width: 10px;
            height: 10px;
            float: right;
            background: $color-error;
            border-radius: 50%;
          }
        }

        &.audio {
          width: 15%;
          background: $color-error;
        }
      }

      .slider::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
      }

      .audio::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
      }
    }
  }
}
