.content-v-thumb {
  display: inline-block;
  margin-bottom: 20px;

  .video__thumbnail {
    width: 190px;
    height: 110px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    
    .video__info {
      text-align: left;

      .views {
        font-weight: normal !important;
        font-size: 13px;
      }

      p {
        bottom: -30px;
        color: white;
        width: 100%;
      }

      &.light .title {
        color: black !important;
      }

      &.dark .views {
        color: #f1ebeb !important;
      }

      &.light .views {
        color: #383838 !important;
      }
    }

    p {
      bottom: -30px;
      color: white;
      width: 100%;
    }

    i {
      margin: auto;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      position: absolute;
      color: white;
    }
  }

  .lazy-background::before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 0;
    left: 0;
  }

  .file-icon {
    display: none;
  }

  .video__thumbnail:hover .file-icon {
    display: block;
  }

//   @media only screen and (max-width: 700px) {
//     .video__thumbnail {
//       width: 150px;
//       height: 90px;
//       margin: 0px 5px 40px 10px;

//       i {
//         margin: auto;
//         position: absolute;
//         font-size: 30px;
//         color: white;
//         top: 30px;
//         left: 60px;
//       }
//     }
//   }
}
