.lazy_main_home {
  position: relative;
  width: 100%;
  height: 100%;

  .home__header {
    position: fixed;
    width: 100%;
    z-index: 1;

    .home__navbar {
      width: 100%;
      background-color: black;
      box-shadow: 0 1px 5px 0 rgba(9, 10, 10, 0.75);
      overflow: auto;

      img {
        width: 250px;
        padding: 10px;
        margin: 0 0 0 10px;
      }

      a {
        color: white;
        float: right;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-size: 17px;
      }
    }

    .home__navbar a:hover {
      opacity: 0.5;
    }
  }

  .home__body {
    padding: 100px 0px;
    width: 100%;
    background-color: black;

    section {
      padding: 3%;
      color: white;
      width: 100%;

      .home__container {
        text-align: center;

        .arc_inner {
          padding: 0 10%;
          margin: auto;
          width: 90%;

          img {
            width: 100%;
          }
        }

        .home__inner {
          padding: 10%;
          margin: auto;
          width: 100%;

          h1 {
            font-size: 64px;
          }

          a {
            text-decoration: none;
            color: aqua;
            cursor: pointer;
          }

          p {
            padding: 10px;
            font-size: 20px;
            color: whitesmoke;
          }
        }
      }
    }
  }

  .home_footer {
    width: 100%;
    position: relative;
    height: auto;

    .col {
      width: 190px;
      height: auto;
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0px 20px 20px 20px;

      h1 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.25em;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          color: #000000;
          font-size: 14px;
          font-family: inherit;
          font-weight: bold;
          padding: 5px 0px 5px 0px;
          cursor: pointer;
          transition: 0.2s;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
        }

        li:hover {
          opacity: 0.5;
          transition: 0.1s;
          -webkit-transition: 0.1s;
          -moz-transition: 0.1s;
        }
      }
    }

    .social {
      float: right;


      ul li {
        display: inline-block;
        padding-right: 10px !important;
      }

      ul li i {
        font-size: 20px;
        color: #000000;
      }
    }

    .clearfix {
      clear: both;
    }
  }

  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }

    .social h1 {
      margin: 0px;
    }
  }

  @media only screen and (max-width: 950px) {
    .home_footer .col {
      width: 33%;
    }

    .home_footer .col h1 {
      font-size: 14px;
    }

    .home_footer .col ul li {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 500px) {
    .home_footer .col {
      width: 50%;
    }

    .home_footer .col h1 {
      font-size: 14px;
    }

    .home_footer .col ul li {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 340px) {
    .home_footer .col {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home__inner {
    padding: 0 !important;

    h1 {
      font-size: 50px !important;
    }
  }
}
