.media-content-grid {
  padding: 10px 10% 50px 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;


  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    background-color: #1f364d;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: 0.3s;
    display: flex;

    .left {
      flex: 1;

      .video__thumbnail {
        width: 150px;
        height: 90px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      float: 1;
    }
  }


  .list.list-view-filter {
    flex-direction: column;
  }

  .list.list-view-filter li {
    padding: 10px;
  }

  .list.grid-view-filter {
    flex-flow: row wrap;
  }

  .list.grid-view-filter li {
    width: calc(50% - 210px);
    padding: 100px;
    margin-right: 10px;
    text-align: center;
  }

  h1 {
    padding: 10px;
  }

  @media only screen and (max-width: 1000px) {
    padding: 0px 0px 50px 0;
  }

  .fo-content__container {
    &::-webkit-scrollbar {
      display: none;
    }

    @media only screen and (max-width: 1000px) {
      display: flex;
      flex-direction: row;
      overflow: auto;
    }
  }
}
