.content-v-thumb {
  display: inline-block;
  margin-bottom: 10px;

  .video__thumbnail {
    width: 305px;
    height: 170px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 13px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);

    .video__info {
      text-align: left;

      .views {
        font-weight: normal !important;
        font-size: 13px;
      }

      p {
        bottom: -30px;
        width: 100%;
      }
    }

    i {
      color: white;
      margin: auto;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      position: absolute;
    }
  }

  .lazy-background::before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 0;
    left: 0;
  }

  .file-icon {
    display: none;
  }

  .video__thumbnail:hover .file-icon {
    display: block;
  }
}
