.settings {
  .inner {
    padding: 0 !important;
    width: 100%;

    $time: 300ms;

    @mixin transition {
      transition: all $time ease;
    }

    h3 {
      margin: 4rem 0 3rem;
    }

    p {
      margin-bottom: 2rem;
    }

    .card {
      display: block;
      width: 100%;
      margin: auto;
      color: white;
      margin-bottom: 2rem;

      &__header {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__body {
        padding: 3rem 7rem 7rem;

        @media screen and (max-width: 900px) {
          padding: 5rem 0;
        }

        .upload__icon__body {
          display: flex;
          flex: 1;

          img {
            cursor: pointer;
            margin: auto;
            max-width: 100px;
            max-height: 100px;
            border-radius: 100%;

            &:hover {
              box-shadow: 0 1px 20px lightgreen;
            }
          }
        }
      }
    }

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      button {
        background-color: $color-primary;
        color: #fff;
        border: 0;
        outline: 0;
        cursor: pointer;
        font-size: 15px;
        padding: 10px 30px;
        margin: 5px;
        border-radius: 3px;
      }

      button:hover {
        opacity: 0.8;
      }

      .close__settings {
        padding-right: 2rem;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .grid {
      flex: 1;
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;

      @media screen and (max-width: 900px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .video__upload__progress {
        width: 100%;
        height: 30px;
        margin: 20px 0;
        background-color: #1e2124;

        .upload__progress {
          position: relative;
          height: 30px;
          background-color: $color-special;
          width: 0;
          padding: 7px 0;
          text-align: center;
          -webkit-transition: width 1s;
          transition: width 1s;
        }
      }

      .video__thumbnails {
        width: 170px;
        height: 100px;
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        box-shadow: 0 5px 10px #1e2124;
      }

      .upload__video__settings {
        .video__description,
        .video__tags,
        .video__title {
          padding-top: 20px;

          textarea,
          input {
            padding: 10px;
            width: 100%;
            outline: none;
            margin: 10px 0;
            border-radius: $radius;
            border: 1px solid transparent;
            background-color: $color-primary;
            font-size: 16px;
            color: white;

            &:not([type="submit"]) {
              margin-bottom: 20px;
              box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);

              &:hover {
                border-color: rgba(0, 0, 0, 0.2);
              }

              &:focus,
              &:active {
                border-color: $color-special;
              }
            }
          }
        }
      }

      .account__info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #1e2124;
        padding: 20px;
        border-radius: 5px;

        .account__avatar {
          width: 80px;
          height: 80px;
          cursor: pointer;
          border-radius: 50%;

          &:hover {
            opacity: 0.8;
          }
        }

        .email__info {
          margin-left: 20px;
          display: block;
          flex: 1;
        }
      }

      @media screen and (max-width: 900px) {
        max-width: 100%;
      }
    }

    .toggle {
      $toggleWidth: 60px;
      $toggleHeight: 30px;
      $toggleMargin: 4px;
      $toggleHandleSize: $toggleHeight - ($toggleMargin * 2);
      max-width: $toggleWidth;
      height: $toggleHeight;
      background: $color-special;
      border-radius: 999px;
      position: relative;
      @include transition;
      cursor: pointer;

      &__handle {
        height: $toggleHandleSize;
        width: $toggleHandleSize;
        position: absolute;
        top: 50%;
        left: $toggleMargin;
        transform: translateY(-50%);
        background: white;
        border-radius: 50%;
        @include transition;
      }

      &.is-on {
        background: white;
        @include transition;

        .toggle__handle {
          left: ($toggleWidth - $toggleMargin) - $toggleHandleSize;
          background: $color-special;
          @include transition;
        }
      }
    }

    .form-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;

      &__control {
        width: 40%;
        text-align: right;
      }
    }

    .control {
      background: transparent;
      color: inherit;
      display: block;
      cursor: pointer;
      width: 100%;
      border-radius: 0.3rem;
      padding: 0.4rem;
      border: 1px solid rgba(white, 0.3);

      option {
        color: black;
      }
    }

    .slider {
      width: 100%;
      position: relative;

      &__positive {
        width: 100%;
        height: 5px;
        background: white;
        position: absolute;
        top: 80%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      &__input {
        margin-top: 0.9rem;
        display: block;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        background: $color-special;
        outline: none;
        @include transition;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 4px solid white;
          background: white;
          cursor: pointer;
          position: relative;
          @include transition;

          &:focus,
          &:active {
            box-shadow: 0px 3px 12px rgba(black, 0.2);
            @include transition;
          }
        }
      }
    }
  }
}
