* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252a2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-repeat: no-repeat, repeat;
  -webkit-font-smoothing: antialiased;
  backface-visibility: none;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 0.8;
}

.info {
  background-color: $color-special !important;
}

.success {
  background-color: $color-active !important;
}

.warning {
  background-color: $color-warn !important;
}

.danger {
  background-color: $color-error !important;
}

.container,
.lazy__browser {
  height: 100%;
  width: 100%;
  color: white !important;
  display: flex;

  .vert-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .lazy {
    height: 100%;
    background: #1e2124;
    flex: 0 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 18px 0 18px 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .features {
    background: #252a2e;
    display: flex;
    border-right: 1px solid #18191a;
    flex-direction: column;
    flex: 0 0 230px;

    input {
      color: white;
      height: 2em;
      padding: 0 0.5rem;
      border: none;
      outline: none;
      background-color: #1e2124;
    }

    .features-header {
      display: flex;
      align-items: center;
      flex: 0 0 56px;
      padding: 2px 24px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      transition: background 0.15s ease;
    }

    .features-list-text,
    .features-list-voice {
      margin: 0 -20px 0 -20px;
    }

    .features-header-name {
      font-size: 1rem;
      font-weight: 500;
    }

    .channel {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 8px 20px 10px 20px;
      opacity: 0.3;
      width: 100%;
    }

    .channel .button {
      display: none;
      opacity: 0.2;
    }

    .channel .button:hover,
    .channel .button:focus {
      opacity: 1;
    }

    .channel.active,
    .channel:hover,
    .channel:focus {
      opacity: 1;
    }

    .channel.active .button,
    .channel:hover .button,
    .channel:focus .button {
      display: block;
    }

    .channel .channel-name {
      font-size: 0.9rem;
      font-weight: 300;
    }

    .channel .button:first-of-type {
      margin-left: auto;
      margin-right: 8px;
    }

    .channel .button {
      width: 16px;
      height: 16px;
    }

    .channel-text {
      position: relative;
    }

    .channel-text.active,
    .channel-text:hover,
    .channel-text:focus {
      background: linear-gradient(to right, #282b30 85%, #2e3136);
    }

    .channel-text.active::before,
    .channel-text:hover::before,
    .channel-text:focus::before {
      content: " ";
      width: 2px;
      height: 100%;
      position: absolute;
      left: 0;
      background: #7289da;
    }

    .channel-text .channel-name::before {
      font-weight: 400 !important;
    }

    .features-list {
      flex: 1 1;
      overflow-y: auto;
      padding: 0 20px;

      ul {
        list-style: none;
      }

      .features-list-header {
        cursor: pointer;
        margin-top: 20px;
        text-transform: uppercase;
        color: #72767d;
        font-size: 0.87rem;
        letter-spacing: 0.04rem;
        transition: color 0.2s linear;
        line-height: 30px;
        position: relative;
      }

      .features-list-header:hover,
      .features-list-header:focus {
        color: #fff;
      }

      .features-list-header:hover::after,
      .features-list-header:focus::after {
        opacity: 1;
      }

      .features-list-header::after {
        position: absolute;
        top: 10px;
        right: 0;
        content: " ";
        width: 10px;
        height: 10px;
        opacity: 0.3;
        transition: opacity 0.2s linear;
      }
    }

    .features-footer {
      display: flex;
      align-items: center;
      flex: 0 0 70px;
      margin-top: auto;
      background: #252a2e;
      border-top: 1px solid #1c1e21;
      padding: 0 10px;

      .features-footer-details {
        margin-left: 10px;
      }

      .features-footer-controls {
        margin-left: auto;
        border: 1px solid #1c1e21;
        border-radius: 4px;
        display: flex;
      }

      .features-footer-controls .button {
        display: block;
        width: 32px;
        height: 32px;
      }

      .features-footer-controls .button svg {
        width: 16px;
      }

      .features-footer-controls .button:hover svg,
      .features-footer-controls .button:focus svg {
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .username,
      .tag {
        display: block;
      }

      .username {
        font-size: 0.8rem;
      }

      .tag {
        color: rgba(255, 255, 255, 0.45);
        font-size: 0.7rem;
      }
    }
  }

  .menu {
    flex: 0 0 57px;
    padding: 0 20px 0 20px;
    background: #252a2e;
    border-bottom: 1px solid #18191a;
    display: flex;
    align-items: center;

    .menu__button {
      padding: 5px 20px;
      margin: 0 0 0 30px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #1e2124;

      &:hover {
        background-color: #18191a;
      }
    }
  }

  .menu .menu-name {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }

  .hash-before::before,
  .features .channel-text .channel-name::before,
  .menu .menu-name::before {
    margin-right: 2px;
    font-weight: 300;
    color: #8a8e94;
  }

  .menu-right {
    margin-left: auto;
  }

  .menu .menu-right input {
    color: white;
    height: 1.9rem;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    border: none;
    background: #18191a;
    outline: none;
    margin: 0 5px 0 0;
    border-radius: 0.25rem;
  }

  .menu .menu-right input:focus {
    width: 300px;
  }

  .menu .menu-right .icon {
    font-size: 20px;
    margin: 0px 10px auto;
  }

  .content {
    background: #252a2e;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .inner {
      padding: 10px;
      width: 100%;
    }

    .inner {
      overflow-y: scroll;
    }
  }

  .server {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #2e3136;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
  }

  .server:not(.active) {
    -webkit-animation: server-hover-out 0.6s ease;
    animation: server-hover-out 0.6s ease;
  }

  .server:not(.active):hover,
  .server:not(.active):focus {
    -webkit-animation: server-hover-in 0.8s ease forwards;
    animation: server-hover-in 0.8s ease forwards;
  }

  .server .server-icon {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .server .server-icon>img {
    border-radius: inherit;
    max-width: 100%;
  }

  .server.server-friends {
    margin-bottom: 46px;
    text-align: center;
  }

  .server.server-friends svg {
    max-width: 60%;
    max-height: 60%;
  }

  .server.server-friends.active::before {
    display: none;
  }

  .server.server-friends::after {
    content: "Lazy Drive";
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    font-weight: 300;
    font-size: 0.65rem;
    position: absolute;
    bottom: -35px;
    left: 3px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2a2e32;
  }

  .server::before {
    position: absolute;
    top: 20px;
    left: -15px;
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
  }

  .server.active {
    border-radius: 15px;
    background-color: #7289da;
  }

  .server.unread::before {
    background: #8a8e94;
  }

  .server.active::before {
    background: #fff;
    height: 40px;
    top: 5px;
  }

  .server.active.unread::before {
    transition: all 0.2s ease-in-out;
  }

  .button {
    background: #2e3136;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button>svg,
  .button>img {
    max-width: 100%;
    max-height: 100%;
  }

  .button-group .button:focus,
  .button-group .button:active {
    background: #3a3d44;
  }

  .button-group .button:not(:last-of-type) {
    border-right: 1px solid #1c1e21;
  }

  .button-group .button+.button {
    box-shadow: inset 1px 0 0 #393c41;
  }

  svg[id] {
    width: 0;
    position: absolute;
  }

  @-webkit-keyframes server-hover-in {
    0% {
      border-radius: 25px;
      background-color: #2e3136;
    }

    40% {
      border-radius: 12px;
    }

    70% {
      border-radius: 16.7px;
    }

    80% {
      background-color: rgb(134, 130, 130);
    }

    100% {
      border-radius: 15px;
      background-color: rgb(134, 130, 130);
    }
  }

  @keyframes server-hover-in {
    0% {
      border-radius: 25px;
      background-color: #2e3136;
    }

    40% {
      border-radius: 12px;
    }

    70% {
      border-radius: 16.7px;
    }

    80% {
      background-color: rgb(134, 130, 130);
    }

    100% {
      border-radius: 15px;
      background-color: rgb(134, 130, 130);
    }
  }

  @-webkit-keyframes server-hover-out {
    0% {
      border-radius: 15px;
      background-color: rgb(134, 130, 130);
    }

    45% {
      border-radius: 25px;
      background-color: #2e3136;
    }

    65% {
      border-radius: 25px;
    }

    75% {
      border-radius: 23.5px;
    }

    100% {
      border-radius: 25px;
    }
  }

  @keyframes server-hover-out {
    0% {
      border-radius: 15px;
      background-color: rgb(134, 130, 130);
    }

    45% {
      border-radius: 25px;
      background-color: #2e3136;
    }

    65% {
      border-radius: 25px;
    }

    75% {
      border-radius: 23.5px;
    }

    100% {
      border-radius: 25px;
    }
  }

  .media-content-grid {
    padding: 10px 100px 50px 100px;
    min-width: 400px;

    h1 {
      padding: 10px;
    }

    @media only screen and (max-width: 1000px) {
      padding: 0px 0px 50px 0;
    }

    @media only screen and (max-width: 700px) {
      padding: 0px 0px 50px 0;
    }
  }
}
