// Switch
.lazy_switch {
  padding: 10px;
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 24px;
    color: #126e64;

    input {
      width: 0;
      height: 0;
      overflow: visible;
      -webkit-appearance: none;

      &:checked + .slider {
        background-color: #40e0d0;

        &:before {
          content: "";
          transform: translateX(36px);
        }
      }
    }

    .slider {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 63px;
      background-color: #d3f8f4;
      cursor: pointer;
      border-radius: 34px;

      &:before {
        position: absolute;
        height: 28px;
        width: 28px;
        left: 0px;
        top: 0px;
        background-color: #126e64;
        border-radius: 100%;
        transition: ease 0.3s;
        content: "";
      }
    }
  }
}

.music_player {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 8px;
  background-image: linear-gradient(to right, #36393e, #04a2ca);

  .inner {
    padding: 10px;
    width: 100%;
    text-align: left;
    color: white;

    i {
      margin: 0 10px;
      cursor: pointer;
    }

    input {
      display: block;
      margin-right: 10px;
      float: left;
    }

    .slider_container {
      width: 50%;
      margin-left: 20px;
      border-radius: 4px;
      position: relative;
      display: inline-flex;

      .slider {
        appearance: none;
        outline: none;
        width: 90%;
        height: 4px;
        background: $color-active;
        border-radius: 4px;
      }

      .slider::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 2px solid $color-active;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
