.grid_section h1 {
  padding: 11px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 5px 13px 50px 13px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);

  p {
    position: absolute;
    bottom: -30px;
    color: white;
    width: 100%;
  }

  i {
    margin: 0 auto;
    position: absolute;
    top: 60px;
    color: white;
    right: 65px;
  }
}

.lazy-background::before {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  right: 0;
  bottom: 0;
  left: 0;
}

.file-icon {
  display: none;
}

.image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  right: 0;
  bottom: 0;
  left: 0;
}

.image:hover .file-icon {
  display: block;
}

@media only screen and (max-width: 700px) {
  .image {
    width: 160px;
    height: 160px;
    margin: 0px 5px 40px 5px;

    i {
      margin: auto;
      position: absolute;
      font-size: 40px;
      color: white;
    }
  }
}
