.video {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px auto;
  background: rgb(0, 0, 0);
  font-size: 13px;
  border-radius: 3px;
  overflow: hidden;
  font-family: Arial;

  video {
    cursor: pointer;
    width: 100%;
    opacity: 0;

    &.visible {
      opacity: 1;
      transition: opacity 1s ease-out 0.8s;
      margin-bottom: -3px;
    }
  }

  .control-bar {
    width: 100%;
    height: 2.2em;
    padding-bottom: 1px;
    position: absolute;
    bottom: -2.2em;
    left: 0;
    transition: bottom 0.3s ease-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;


    .dropup {
      right: 50px;
      outline: none;
      position: absolute;
      display: inline-block;
    }

    .v-quality {
      right: 120px;
    }

    .dropbtn {
      background-color: transparent;
      cursor: pointer;
      color: white;
      border: none;
      font-size: 14px;
      padding: 0.5em 0.6em;
    }


    .dropup-content {
      display: none;
      position: absolute;
      bottom: 40px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropup-content a {
      padding: 12px 9px;
      text-decoration: none;
      display: block;
    }

    .dropup-content a:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }

    .open {
      display: block !important;
    }

    .button-bar {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      position: absolute;
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0.8) 100%);
      z-index: 2;

      i {
        font-style: normal;
        color: white;
        position: absolute;
        width: 2em;
        height: 1.6em;
        line-height: 1.6em;
        text-align: center;
        top: 50%;
        margin-top: -0.75em;
        cursor: pointer;
        transition: all 0.2s ease;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        z-index: 2;

        &.play,
        &.pause,
        &.replay {
          width: 2.5em;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        &.fullscreen {
          right: 1em;
        }
      }

      .volume {
        font-style: normal;
        font-weight: 100;
        color: white;
        position: absolute;
        width: 2em;
        height: 1.6em;
        line-height: 1.6em;
        text-align: center;
        top: 50%;
        margin-top: -0.75em;
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        z-index: 2;
        overflow: hidden;
        left: 2.3em;
        font-size: 1.2em;

        transition: all 0.8s ease-out;

        &.shift {
          width: 7.5em;
          transition: all 0.2s ease-in;
        }

        .toggle {
          left: 0;
        }

        .rail {
          position: absolute;
          left: 2.5em;
          top: 0;
          width: 3em;
          height: 100%;
          margin-top: 0;
          overflow: hidden;

          .grip {
            position: absolute;
            width: 0.4em;
            height: 1em;
            margin-left: -0.2em;
            left: 100%;
            top: 50%;
            margin-top: -0.5em;
            background: white;
          }

          .audible,
          .inaudible {
            position: absolute;
            width: 100%;
            height: 0.3em;
            left: 0;
            top: 50%;
            margin-top: -0.15em;
            background: $color-active;
          }

          .inaudible {
            background: #ccc;
          }
        }
      }

      .time {
        color: #eee;
        font-size: 0.8em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 7em;
        height: 2.2em;
        line-height: 2.8em;

        transition: all 0.7s ease-in 0.2s;

        &.shift {
          left: 13em;
          transition: all 0.2s ease-out;
        }
      }
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 50px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      font-size: 10px;
      position: absolute;
      border-radius: 2px; 
      z-index: 1;
      bottom: 105%;
      left: 0%;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    .seek {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.2);
      top: -2px;
      transition: all 0.2s ease;
      cursor: pointer;
      z-index: 7;

      .buffer {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        z-index: 8;
      }

      .watched {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: 8;
        background: $color-active;
        overflow: visible !important;

        &:before,
        &:after {
          position: absolute;
          height: 100%;
          width: 10px;
          background: lighten($color-active, 10%);
          border-radius: 6px/3px;
        }

        &:after {
          right: 0px;
          background: lighten($color-active, 20%);
        }

        .handle {
          position: absolute;
          display: block;
          right: -2px;
          top: -1px;
          width: 0px;
          height: 0px;
          border: 2px solid white;
          z-index: 9;
          background: transparent;
          border-radius: 100%;
          transition: all 0.3s ease;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: -moz-none;
          -ms-user-select: none;
          user-select: none;

          &.active {
            background: #666;
          }

          &:after {
            content: "";
            width: 26px;
            height: 22px;
            position: absolute;
            left: 50%;
            margin-left: -13px;
            top: 50%;
            margin-top: -15px;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 100%;
        bottom: -5px;
        left: 0;
        z-index: 6;
      }

      &:hover {
        height: 6px;
        top: -6px;
      }
    }
  }

  &.active {
    .control-bar {
      bottom: 0;
      transition: bottom 0.05s ease-out;

      &.active {
        .seek {
          &:hover {
            .handle {
              top: -3px;
            }
          }

          .handle {
            width: 4px;
            height: 4px;
            right: -5px;
            top: -4px;
            border-width: 5px;
            transition: all 0.1s ease;
          }
        }
      }
    }

    .seek {
      opacity: 1;
    }
  }

  .large-play {
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
    font-style: normal;
    font-weight: 100;
    font-size: 3em;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: 0.2s ease;

    &.hidden {
      top: 45%;
      opacity: 0;
    }
  }
}
