// Switch
.lazy_switch {
  padding: 10px;
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 24px;
    color: #126e64;

    input {
      width: 0;
      height: 0;
      overflow: visible;
      -webkit-appearance: none;

      &:checked+.slider {
        background-color: #40e0d0;

        &:before {
          content: '';
          transform: translateX(36px);
        }
      }
    }

    .slider {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 63px;
      background-color: #d3f8f4;
      cursor: pointer;
      border-radius: 34px;

      &:before {
        position: absolute;
        height: 28px;
        width: 28px;
        left: 0px;
        top: 0px;
        background-color: #126e64;
        border-radius: 100%;
        transition: ease 0.3s;
        content: '';
      }
    }
  }
}
