.image {

  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 5px 13px 50px 13px;
  position: relative;

  p {
    position: absolute;
    bottom: -30px;
    color: white;
    width: 100%;
  }

  i {
    margin: 0 auto;
    position: absolute;
    top: 60px;
    color: white;
    right: 65px;
  }

  .image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


}

@media only screen and (max-width: 700px) {
  .image {
    width: 160px;
    height: 160px;
    margin: 0px 5px 40px 5px;

    i {
      margin: auto;
      position: absolute;
      font-size: 40px;
      color: white;
    }
  }
}

.lazy-background {
  background-image: url("/public/atom.svg");
  background-size: cover;
  background-position: center;
}

.visible {
  background-image: url("https://www.gstatic.com/webp/gallery/1.jpg");
  background-size: cover;
  background-position: center;
}
