.music_player {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 30;
  padding: 15px;
  background-image: linear-gradient(to right, #36393e, #04a2ca);

  .inner {
    padding: 10px;
    width: 100%;
    align-items: center;
    text-align: left;
    color: white;

    .albumImage {
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0;
    }

    i {
      margin: 0 10px;
      cursor: pointer;
    }

    input {
      display: block;
      margin-right: 10px;
      float: left;
    }

    .slider_container {
      width: 50%;
      margin: 0px 20px;
      border-radius: 4px;
      position: relative;
      display: inline-flex;

      .audio-icon {
        font-size: 20px;
      }

      .time {
        margin: 0 20px;
      }

      .slider {
        appearance: none;
        outline: none;
        width: 100%;
        margin: 8px;
        height: 4px;
        cursor: pointer;
        z-index: 7;
        border-radius: 4px;
        background: rgb(104, 103, 103);

        .buffer {
          appearance: none;
          outline: none;
          height: 4px;
          z-index: 9;
          border-radius: 4px;
          background: grey;

          .progress {
            appearance: none;
            outline: none;
            height: 4px;
            border-radius: 4px;
            z-index: 9;
            background: $color-active;

            .circle {
              position: absolute;
              right: 0;
              width: 5px;
              height: 5px;
              background: #fff;
              border-radius: 50%;
            }
          }
        }

        &.audio {
          width: 15%;
          background: $color-active;
        }
      }

      .slider::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        background: #fff;
        border: 2px solid $color-active;
        border-radius: 50%;
        cursor: pointer;
      }

      .audio::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border: 2px solid $color-active;
      }
    }
  }
}
