.media-dragoutline {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 1px;
  left: 6px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  content: "";
  background-color: $dnd-bg;
  border: $dnd-border;
  border-radius: $border-radius;
  opacity: 0;
  transition: all .2s ease;
  transition-delay: .2s;
  transform: scale(.6);

  .upload-icon {
    font-size: 8rem;
    color: $dnd-icon-color;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .1s;
    transform: translateY(50%);
  }

  p {
    font-size: 1.4rem;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);

    .upload-icon {
      opacity: 1;
      transform: translateY(0);
    }

    p {
      opacity: 1;
      transition-delay: .2s;
    }
  }
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.modal_inner {
  max-width: 32rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s;
}

.modal.open {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open .modal_inner {
  opacity: 1;
  transform: scale(1);
}
