<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <title>Mailer</title>
  </head>
  <body>
    <div
      style="z-index: 1;max-width:800px;background-image: none;
      margin-top:-27px; border-color:#000000; background-color: #F7F7F7;padding-bottom: 0px;margin-left: auto;margin-right: auto;"
    >
      <div
        style="background:#fff;font-family:'Lato', sans-serif;font-size:12px;margin:0;padding:0;"
      >
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top" style="padding:20px 0 20px 0;">
                <table
                  bgcolor="#FFFFFF"
                  cellspacing="0"
                  cellpadding="2"
                  border="0"
                  width="650"
                >
                  <tbody>
                    <tr>
                      <td
                        valign="top"
                        style="background-color: #2d9aa8;background-size:100% 100%;background-position:top center;margin:0;padding:0;position: relative;width: 560px;height: auto;"
                      >
                        <img
                          style="text-align: center;margin: 0px auto;display: block;padding: 30px 0px;"
                          src="https://flexoriginals.ml/public/icons/logo.png"
                          alt="Flex Originals"
                          width="50"
                          height="50"
                        />
                        <h2
                          style="font-size: 25px;font-weight: 400;margin: 10px 40px;text-align: center;color: #ffffff;"
                        >
                          Welcome
                        </h2>
                        <p
                          style="font-size:14px;font-weight: 400;margin: 10px 40px;line-height: 1.1;color: #ffffff;text-align:center;"
                        >
                          Thank you for registering for Flex Originals.
                        </p>
                        <p
                          style="font-size: 11px;font-weight: 400;margin: 25px 40px;line-height: 1.1;color: #ffffff;text-align: center;"
                        >
                          To complete your registration, you need to verify your
                          email account. Click here for email verification link.
                        </p>
                        <div
                          style="margin-top: 50px;text-align: center;padding-bottom: 40px;"
                        >
                          <a
                            href="<%= verifyHref %>"
                            style="width: 100%;border-radius: 3px;background-color: #3ecabd;padding: 15px 30px;margin:0px 40px;text-align: justify;color: #fff;text-transform: capitalize;text-decoration: none;font-size: 14px;font-weight: 400;"
                            >Verify Email</a
                          >
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td
                        style="border: 1px solid #e6e6e6;position: relative;top: -4px;"
                      >
                        <table>
                          <tbody></tbody>
                        </table>
                        <div
                          style="background:#fff;text-align: center;min-height: 150px;border: 10px solid #fafafa;"
                        >
                          <div>
                            <p
                              style="text-align: center;font-size: 12px;line-height: 1.3;color: #787878;"
                            >
                              This application is in beta phase for any problem
                              write to
                            </p>
                            <a
                              href="#"
                              style="text-align: center;font-size: 12px;line-height: 1.3;color: #0abfc2;text-decoration: none;"
                              >feedback.flexOriginals@gmail.com</a
                            >
                            <ul
                              style="display:block;text-align:center;padding: 10px 0px;"
                            >
                              <li
                                style="display:inline-block;margin:0px 10px 0px 0px"
                              >
                                <i class="fab fa-facebook-square"></i>
                              </li>
                              <li style="display:inline-block;margin:0px 10px">
                                <i class="fab fa-reddit-square"></i>
                              </li>
                              <li style="display:inline-block;margin:0px 10px">
                                <i class="fab fa-twitter-square"></i>
                              </li>
                              <li
                                style="display:inline-block;margin:0px 0px 0px 10px"
                              >
                                <i class="fab fa-linkedin"></i>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
